* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  font-family: 'Caudex', serif;
}

:root {
  --color-verde: rgb(24, 123, 13);
  --color-amarillo: #fff764;
  --color-bordo: #7e084d;
  --color-rojo: #d8012b;;
  --color-naranja: #fb7c36;
  --color-chicle: #ee43a7;
  --color-1:  #b5ac01 ;
  --color2: #ecba09 ;
  --color-bordo: #e86e1c ;
  --color4:#d41e45 ;
  --color5: #1b1521 ;

}

body{
  overflow-y:hidden;
  max-height: 80vh;}